@charset "utf-8";
body {
  font-family: "Lato";
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.text_center {
  text-align: center;
}

.contents a {
  text-decoration: none;
}

.is_raleway {
  font-family: "Raleway";
}

.contents {
  width: 100%;
  background-color: #f2f2f2;
}

.btn {
  transition:all 0.3s;
  align-items: center;
  padding: 14px 12px;
  font-size: 12px;
}

.green_btn {
  background-color: #74cfae;
  color: #FFF;
}

.contents header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.width_contents_header {
  background-color: #FFF;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

.bolt_icon {
  color: #4e4e4e;
  font-size: 4em;
}

.hum_parent {
  display: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.btn_hum,
.btn_hum span {
  display: inline-block;
}

.btn_hum {
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.btn_hum span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ddd;
  border-radius: 4px;
}

.btn_hum span:nth-child(1) {
  top: 0;
}

.btn_hum span:nth-child(2) {
  top: 8px;
}

.btn_hum span:nth-child(3) {
  bottom: 0;
}

.btn:hover {
  color: #333;
}

.bolt_contents_main {
  padding-top: 70px;
}

.title_inner {
  padding: 250px 0;
}

.site_title {
  font-weight: 700;
  font-size: 90px;
  color: #74cfae;
}

.sub_title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.green_width {
  background-color: #74cfae;
}

.main_inner {
  background-color: #74cfae;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.phone_block {
  font-size: 0;
}

.main_policy_description {
  color: #FFF;
  width: 48%;
}

.main_mini_title {
  font-size: 24px;
}

.main_mini_description {
  font-size: 20px;
  line-height: 30px;
  margin-top: 35px;
}

.main_images {
  margin-top: 40px;
}

.img_inner {
  padding: 60px 0 70px 0;
}

.images {
  display:flex;
  flex-wrap:wrap;
  font-size: 0;
}

.images li a {
  opacity: 0.7;
  transition: all 0.3s;
}

.images li a:hover {
  opacity: 1;
}

.img_title {
  font-size: 24px;
  color: #333;	
}

.images li {
  margin-left: 100px;
  margin-top: 80px;
  box-sizing: border-box;
}

.images li:nth-child(-n+3) {
  margin-top: 0;
}

.images li:nth-child(3n+1),
.skill_circles li:first-child {
  margin-left: 0;
}

.mail_btn {
  margin-left: 90px;
  width: 10%;
}

.main_bottom_description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.image_bottom_description {
  color: #333;
  word-break: break-word;
  width: 42%;
  line-height: 25px;
}

.width_contents_skill {
  background-color: #4e4e4e;
}

.skill_inner {
  padding: 70px 0 120px 0;
}

.skill_title {
  color: #f2f2f2;
  font-size: 24px;
}

.skill_circles {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.skill_circles li {
  margin-left: 180px;
  color: #FFF;
}

.skill_circles li:first-child {
  margin-left: 0;
}

.skill_circles figcaption {
  margin-top: 20px;
  text-align: center;
}

.navs_inner {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  
}

.navs_inner li {
  width: 185px;
  font-size: 30px;
  text-align: center;
}

.navs_inner li a {
  display: block;
  padding: 30px 0;
  transition: all 0.3s;
}

.navs_inner li a:hover {
  background-color: #FFF;
}

.nav_icon {
  color: #74cfae;
}

.fotter_inner {
  padding: 20px 0 25px 0;
  color: #FFF;
}

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
    margin: auto;
  }

  .btn {
    margin: 0 auto;
    text-align: center;
  }

  .main_inner {
    display: block;
    padding: 50px 0 25px 0;
  }

  .phone_block {
    font-size: 0;
    text-align: center;
  }

  .main_policy_description {
    width:  100%;
    margin-top: 20px;
  }

  .images {
    display: block;
  }

  .images li:nth-child(3n+1) {
    margin: 80px 0 0 0;
  }

  .images li:first-child {
    margin-top: 40px;
  }

  .images li {
    margin: 0;
    text-align: center;
  }

  .main_bottom_description {
    display: block;
    width: 97%;
    margin-top: 80px;
  }

  .image_bottom_description {
    width: 97%;
    margin: 0 auto;
  }

  .mail_btn {
    margin-top: 40px;
    display: block;
    width: 20%;
  }

  .skill_circles {
    display: block;
  }

  .skill_circles li {
    margin: 88px 0 0 0;
  }

  .skill_circles li figure {
    text-align: center;
  }

  .skill_circles li:first-child {
    margin: 0;
  }

  .main_policy_description {
    width:  100%;
    margin-top: 20px;
  }

  .main_images {
    margin-top: 40px;
  }

}

@media screen and (max-width:767px) { 

  .pc_icon {
    display: none;
  }

  .hum_parent {
    display: block;
  }

  .title_inner {
    padding: 160px 0 130px 0;
  }

  .site_title　{
    font-size: 80px;
  }

  .navs_inner {
    display: block;
    padding: 50px 0;
  }

  .navs_inner li {
    margin: 0 auto;
  }

  .bottom_bar_text {
    padding-right: 10px;
  }

}
