@charset "utf-8";

.contents {
  width: 100%;
  background-color: #f2f2f2;
}

.header_parent {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  align-items: center;
}

.bolt_icon {
  color: #333;
  font-size: 2em;
}

.btn {
  background-color: #74cfae;
  color: #FFF;
  font-size: 12px;
  padding: 14px 12px;
}

.btn:hover a {
  transition: 0.3;
  color: #333;
}

.contents a {
  text-decoration: none;
  color: #FFF;
}

.titles {
  text-align: center;
}

.header_main_titles {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.site_title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.sub_title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
  /* letter-spacing: 0.001em; */
}

.main_top{
  background-color: #74cfae;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.main_right_description {
  color: #FFF;
  width: 750px;
  text-align: center;

}

.main_mini_title {
  font-size: 24px;
  padding-bottom: 35px;
}

.main_mini_description {
  font-size: 20px;
  line-height: 30px;
}

.main_images {
  display: inline-block;
}

.img_contents {
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.images {
  display:flex;
  flex-wrap:wrap;
}

.images li a{
  opacity: 0.7;
}

.images li a:hover {
  opacity: 1;
  transition: 0.3;
}

.images:hover a {
  transition: 0.3;
  opacity: 0.7;
}

.img_title {
  text-align: center;
  font-size: 24px;
  padding: 60px 0 40px 0;
  color: #333;	
}

.images li {
  padding-left: 100px;
}

.images li:first-child,
.images li:nth-child(4) {
  padding-left: 0;
}

.images li:nth-child(4),
.images li:nth-child(5),
.images li:nth-child(6) {
  padding-top: 80px;
  padding-bottom: 90px;
}

.main_bottom_description {
  display: flex;
  margin: 0 auto;
  padding-bottom: 70px;
  justify-content: center;
}

.image_bottom_description{
  text-align: center;
  color: #333;
  padding-right: 90px;
}

.skill_description {
  background-color: #4e4e4e;
}

.skill_title {
  text-align: center;
  color: #f2f2f2;
  padding: 70px 0;
  font-size: 24px;
}

.table_skill_images {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
}

.table_skill_images td {
  padding-left: 180px;
  font-size: 16px;
  color: #f2f2f2;
}

.table_skill_images td:first-child {
  padding-left: 0px;
}

.skill_description_titles td {
  padding-bottom: 100px;
}

.table_skill_images td {
  padding-top: 15px;
}

.skill_circles td {
  padding-top: 0;
} 

.navs {
  padding: 200px 0;
  display: table;
  margin: 0 auto;
}

.navs li {
  font-size: 30px;
  width: 185px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 30px 0;
}

.navs li:hover {
  background-color: #FFF;
}

.nav_icon {
  color: #74cfae;
}

.bottom_bar {
  background-color: #74cfae;
  text-align: right;
}

.bottom_bar_text {
  color: #FFF;
  padding: 20px 0 25px 0;
  margin-right: 150px;
}
















